@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');



 
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1440px;
  background-color: black;
}



.grey-qo-font {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
.display-flex{
  display: flex;
}

.brand-title{
  color: #E6533C;
  font-size: 2.25rem;
  font-weight: 900;
  font-style: italic;
}

.button-pri{
background-color: #E6533C;
border-radius: 42px;
color: #FFFFFF;
padding: 5px 20px;
border-style: none;
}

.button-sec{
  background-color: gray;
  border-radius: 42px;
  color: #FFFFFF;
  padding: 5px 20px;
  border-style: none;
}

.text-white{
  color: #FFFFFF;
}
.text-light-white{
  color: rgba(255, 255, 255, 0.50);
}

/* header styles */
.header-bg{
  /* background-color: rgba(17, 17, 17, 1.00); */
  background: linear-gradient(to top right, rgba(17, 17, 17, 1.00), rgba(17, 17, 30, 1.00));
  /* height: 100vh;
  margin: 0; */
}


/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
}
.navbar, .banner{
  max-width: 90%;
  margin: 0 auto;
}

/* banner styles */

.banner-title{
  font-size: 4.875rem;
}

.banner-description{
  font-size: 1rem;
}

.banner, img{
  width: 100%;
}

.card-2{
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 12px;
  padding: 10px 23px;
  position:absolute;
  left: 800px;
  top: 250px;
}

.card-2-title{
  font-size: 2.5rem;
  font-weight: 900;
}

.card-2-description{
  font-size: 0.8125rem;
}

.card-circle{
  background-color: #E6533C;
  width: 20px;
  height: 20px;
  border-radius: 30px;
}

.card-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  padding: 10px 23px;
  position:absolute;
  left: 500px;
  top: 590px;
  width: 15%;
  height: 20%;
}

/* habits section styles */


.change_your_habit{
  max-width: 1440px;
  margin-top: 100px;

}

.habit_container{
  width: 65%;
  margin: 0 auto;

}

.habit_title{
font-size: 3rem;
font-weight: 800;
margin-bottom: 0;
text-align: center;
}

.habit_description{
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 50px;
}

.habit_cards{
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 40px;
}

.habit_cards_img{
  border: 1px solid white;
border-radius: 180px;
}

.habit_cards_title{
color: #FFFFFF;  
font-size: 1.125rem;
font-weight: 600;
text-align: center;
margin-bottom: 0;
}

.habit_cards_description{
color: rgba(255, 255, 255, 0.50);
font-size: 0.875rem;
text-align: center;
}

/* run section styles */

.run_an_extra_mile{
max-width: 1440px;
margin-top: 100px;
}

.run_an_extra_mile_container{
  background-color: #222222;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.run_container{
  width: 40%;
  height: 50%;
  padding: 30px;
}

.run_title{
  font-size: 3rem;
  color: #FFFFFF;
  margin: 0;
}

.run_description{
  font-size: 0.875rem;
color: rgba(255, 255, 255, 0.50);
}

.run_img{
  width: 40%;
  justify-content: center;
  border-radius: 18px;
}

/* meet our team styles */

.meet-our-team{
width: 90%;
margin: 0 auto;
}

.meet_our_team_container{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.meet_our_team_container_img{
  height: 220px;
  position: relative;
}

.meet_our_team_child_img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.meet_our_team_img_description{
  position: absolute;
  color: white;
  top: 60%;
  left: 5%;
  width: 100%;
}

.meet_img_title{
font-size: 1.25rem;
font-weight: 400;
margin-bottom: 5px;
color: #ffffff;
}

.meet_img_description{
font-size: 0.875rem;
color: #8b8c8a;
margin: 0;
}

/* footer styles */

footer{
  max-width: 1440px;
  margin-top: 80px;
}

.footer_section{
display: grid;
grid-template-columns: 45% 27.5% 27.5%;
justify-content: space-evenly;
width: 90%;
margin: 0 auto;
}

.fitness_title{
color: #e6533c;
font-style: italic;
font-size: 4.375rem;
font-weight: 900;
margin: 10px;
}

.fitness_description{
color: rgba(255, 255, 255, 0.50);
font-size: 0.875rem;
margin: 0;
line-height: 150%;
}


.get_title{
color: white;
font-size: 2rem;
font-weight: 800;
margin-left: 30px;
}

.get_list{
  color: rgba(255, 255, 255, 0.50);
  font-size: 1.4375rem;
  list-style-type: none;
  padding-left: 0;
  margin-left: 30px;
  line-height: 150%;
}

hr{
  border: none;
  height: 5px;
  background-color: #313131;
  width: 90%;
  margin: 0 auto;
}

 #ft_p{
  color: rgba(255, 255, 255, 0.50);
  width: 90%;
  margin: 20px auto;
  text-align: center;

}